*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 30, 30);
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-style:italic ;
    padding: 50px;
}
.between {
    text-align: right;
}
h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
}
.right{
    text-align: right;
    margin-right: 35%;
    font-size: 20px;
}
.left {
    margin-left: 20%;
}
input, button{
    padding: 20px;
}
.number{
    text-align: center;
    font-size: 30px;
}
 
 